# ------------------------------------------------------------------
#
#   Unit file downloaded from static.maxresing.de
#     https://static.maxresing.de/pub/vncservice.service
#
#   In case of questions, contact the initiator of this systemd unit
#   file
#
#     Max Resing <m.resing-1@student.utwente.nl>
#
# ------------------------------------------------------------------

[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/linuxvnc 5 -rfbport 5900 -listen 0.0.0.0 -passwd $(openssl rand -base64 256)

[Install]
WantedBy=multi-user.target

